.header-blue-bar img{
    height: 1vw;
    width: 100vw;
}
.footer img{
    height: 1vw;
    width: 100vw;
}
.UsernamePosition{
    margin-left: 1650px;
    position: absolute;
    margin-top: -22px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body 
{
    background-color: yellow;
}
.start-screen,
.score-container 
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button 
{
    border: none;
    outline: none;
    cursor: pointer;
}
#start-button,
#restart,
#back,
#change-User-Name 
{
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
}
#restart 
{
    margin-top: 0.9em;
}
#back{
    margin-top: 1.1em;
}
#change-User-Name{
    margin-top: 0.8em;
}
#display-container 
{
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    max-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;
}
.header 
{
    margin-bottom: 1.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.6em;
    border-bottom: 0.1em solid #c0bfd2;
}
.adding-score-div
{
    background-color: #e1f5fe;
    width: 7.5em;
    border-radius: 1.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7em 1.8em;
}
.question 
{
    margin-bottom: 1.25em;
    font-weight: 600;
}
.option-div 
{
    font-size: 0.9em;
    width: 100%;
    padding: 1em;
    margin: 0.3em 0;
    text-align: left;
    outline: none;
    background: transparent;
    border: 1px solid #c0bfd2;
    border-radius: 0.3em;
}
.option-div:disabled 
{
    color: #000000;
    cursor: not-allowed;
}
#next-button 
{
    font-size: 1em;
    margin-top: 1.5em;
    background-color: yellow;
    color: black;
    padding: 0.7em 1.8em;
    border-radius: 0.3em;
    float: right;
}
.hide 
{
    display: none;
}
.incorrect 
{
    background-color: #ffdde0;
    color: #d32f2f;
    border-color: #d32f2f;
}
.correct 
{
    background-color: #e7f6d5;
    color: #689f38;
    border-color: #689f38;
}
#user-score
{
    font-size: 1.5em;
    color: black;
}
#user-points
{
    font-size: 1.5em;
    color: black;
}
.adding-score-div img {
    margin-left: 1px;
    height: 25%;
    width: 25%;
}
#time-used{
    font-size: 1.5em;
    color: black;
}
#endscreen-holder{
    font-size: 1.5em;
    color: black; 
    position: absolute;
    margin-left: 15px;
    margin-bottom: 335px;
    /*border: solid #000;
    border-width: 1px;*/
}
.Welcome{
    margin-left: 750px;
}
.rules{
    margin-left: 5px;
}
#the-mins{
    font-size: 1.5em;
    color: black;
    position: absolute;
    margin-right: 75px;
    margin-bottom: 275px;

}
#the-secs{
    font-size: 1.5em;
    color: black;
    position: absolute;
    margin-right: -110px;
    margin-bottom: 275px;
}
#min-holder{
    font-size: 1.5em;
    color: black;
    position: absolute;
    margin-right: -13px;
    margin-bottom: 275px;
}
#sec-holder{
    font-size: 1.5em;
    color: black;
    position: absolute;
    margin-right: -200px;
    margin-bottom: 275px;
}